#about {
    min-height: 90vh;
    padding-top: 40px;
    padding-bottom: 40px;

}

#about h1 {
    text-align: center;
    margin-bottom : 20px;
}

.person-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.person {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    min-width: 200px;
    box-sizing: border-box;
}


/* .person .media {

} */

.person .profile_picture{
    margin: 20px;
}

.person .social_links {
    text-align: center;
}

.person .social_links a{
    margin: 5px 10px;
}

.person .profile_picture img{
    width: 150px;
}

.person .social_links img{
    width: 30px;
}

.person .description {
    margin-top: 20px;
}

.person .description h5{
    color: grey;

margin: 5px 0 20px 0;}