#application {
  padding-top: 40px;
  min-height: 90vh;

  
  /* border-bottom: 3px solid black; */
  /* color: white */
}


#application  h1 {
  text-align: center;
  margin-bottom: 10vh;
  /* margin-top: 20px; */
}

.grid-container {
  display: flex;
  flex-direction: column;
  padding: 30px;

}


.features_container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
  place-self: center;
  justify-self: center;

}

.feature {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px 20px;
  border-radius: 30px;
  text-align: center;
}

.feature .text h2{
  margin: 10px auto;
  text-align: center;
  /* background-color: aliceblue; */

}

.feature .image {
  flex: 1;
  text-align: center;
  /* width: 100%; */
}

.feature img {
  width: 20vh;
}

.feature p {
  margin-left: 30px;
}
