#home {
    height: 100vh;
    display: grid;
    place-items: center;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content_container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* opacity: 0.5; */
    padding: 20px 50px;
    margin: 50px auto 20px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin-top: 12vh;
    background: rgba(255, 255, 255, 0.35);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'mont-regular';
}

.content_title {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'mont-bold';
}

.content_cta {
    display: flex;
    flex-direction: column;
}

.content_cta input {
    padding: 10px 20px;
    width: 25vw;
    max-width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'mont-regular';
}

.content_cta input:focus {
    border: 0;
    outline: none;
}

.content_cta button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 25vw;
    max-width: 300px;
    font-family: 'mont-bold';
    border-radius: 10px;
    /* background-color: #FF7971; */
    /* border-width: 1px; */
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content_cta button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

span:before {
    content: '';
    animation: animate infinite 8s;
}

@keyframes animate {
    0% {
        content: 'Poker';
    }
    20% {
        content: 'Basketball';
    }
    40% {
        content: 'BBQ';
    }
    60% {
        content: 'Open Mic';
    }
    80% {
        content: 'Football';
    }
    100% {
        content: 'Beer Pong';
    }
}

@media screen and (max-width: 800px) {
    .content_container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .phoneFrame {
        order: 1;
    }

    .change {
        display: inline-block;
    }

    .content {
        order: 2;
        gap: 10px;
        justify-content: center;
    }

    .content_title {
        font-size: 1.5rem;
    }

    .content_cta {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .content_cta input {
        width: 30vw;
        margin-bottom: 0px;
    }
    .content_cta button {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        width: 30vw;
        font-family: 'mont-bold';
        border-radius: 10px;
        /* background-color: #FF7971; */
        /* border-width: 1px; */
        color: black;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

@media screen and (max-width: 600px) {
    .change {
        display: block;
    }

    .content_container {
        padding: 10px 5px;
        margin-top: 10vh;
    }

    .content_title {
        font-size: 1.5rem;
    }

    .content_text {
        width: 80%;
        margin: auto;
    }

    .content_cta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .content_cta input {
        width: 80%;
        margin-bottom: 0px;
    }
    .content_cta button {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        width: 80%;
        font-family: 'mont-bold';
        border-radius: 10px;
        /* background-color: #FF7971; */
        /* border-width: 1px; */
        color: black;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}
